extends layout
include funcs/home

block content
  h1= title
   
  
        .row.banner
          .col-12
            h1= title
            small &nbsp;#{pageHeader.subtext}
        .row
          .col-12.col-md-9
          
            +loadGyms(gyms)
            

                  
            
           




