extends layout 

block content 
      app-home-list 
block scripts
  script(src='/build/runtime.9518cb2843c2365f.js')
  script(src='/build/polyfills.fbdbecd84dc13572.js')
  script(src='/build/main.9ab2133c4f9bae23.js')
